
<br>
	<br>
	<br>
	
<!-- <script src="public/scripts/googlePlaces.js"></script> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 -->


	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnt3q6XZEqOtSJmtrl6z-ZTYYrY29Iv4&libraries=places&callback=initAutocomplete" async defer></script>
 -->
<!--  <script src="https://api.filestackapi.com/filestack.js"></script> -->
<script type="text/javascript">
 //filepicker.setKey("As4LSqupJTjVvBXkoAMnPz");


 </script> 



	<div class="addproperty-wrapper container">
	<div class="row">


		<!-- form 1 -->
		<!-- <div class="width-100 make-table clearfix"> -->
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h3> AirBnB - Register a Property </h3>
  
  				<form name = "propertyform" action="registerProperty" method="POST">
  					<div class="form-group">

					  	<label for="propertyTitle">Property Title</label>
					  	 <input type="text" name="PropertyTitle" class="form-control" id="propertyTitle" ng-model="vm.property.propertyTitle" required>
					  	 <span class="invalidinput" ng-show="vm.invalidTitleFlag">Text Input Only</span>
					  	 <span class="invalidinput" ng-show="vm.requiredTitleFlag">Required Field</span>


					  	 <label for="propertyDescription"> Property Description</label>
					  	 <textarea name = "propertyDescription" id="propertyDescription" ng-model="vm.property.description" required> </textarea>
					  	 <span class="invalidinput" ng-show="vm.invalidDescriptionFlag">Text or Numeric Input Only</span>
					  	 <span class="invalidinput" ng-show="vm.requiredDescriptionFlag">Required Field</span>
					  	 <br>

					  	 <label for="start_date">Start Date</label>
					  	 <input id="start_date" type="Date" ng-model="vm.property.property_start_date" required>
					  	 <span class="invalidinput" ng-show="vm.requiredStartDateFlag">Required Field</span>
					  	 <span class="invalidinput" ng-show="vm.invalidStartDateFlag">Invalid Start Date</span>

					  	 <label for="end_date">End Date</label>
					  	 <input id="end_date" type="Date" ng-model="vm.property.property_end_date" required>
					  	 <span class="invalidinput" ng-show="vm.requiredEndDateFlag">Required Field</span>
					  	 <span class="invalidinput" ng-show="vm.invalidEndDateFlag">Invalid End Date</span>

					  	 <label for="propertyCategory"> Property Category </label>
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" ng-model="vm.property.category" value="Private Room" required> Private Room 
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" ng-model="vm.property.category" value="Shared Room"> Shared Room 
					  	 <input type="radio" name="propertyCategory" id="propertyCategory" ng-model="vm.property.category" value="Entire Place"> Entire Place
					  	 <br>
					  	 <span class="invalidinput" ng-show="vm.requiredCatagoryFlag">Required Field</span>


					  	 <br>
					  	 <label for="ListingType"> Listing Type </label>
					  	 <input type="radio" name="listingType" ng-model="vm.property.ListingType" value="sale" required ng-change="vm.UpdateListingType()"> Instant Booking 
					  	 <input type="radio" name="listtingType" ng-model="vm.property.ListingType" value="auction" required ng-change="vm.UpdateListingType()"> Best Bid 
					  	 <br>
					  	 <span class="invalidinput" ng-show="vm.requiredTypeFlag">Required Field</span>
					  	 <br>
					 	<strong>Note: Auctionable Properties have start date and end date as the dates of stay. You must list your items accordingly. </strong>

						<input type="text" class="source-input white-bg" g-places-autocomplete ng-model="vm.travelLocation" placeholder="Input Property Address" ng-blur="vm.PopulateAddressFields()" required>
						<span class="invalidinput" ng-show="vm.requiredAddressFlag">Required Field</span>
    						
   		 			</div>

    
				         Street address
				        <input class ="form-control" id="street_number"
				               ng-model="vm.property.address.street" required>
				      	<span class="invalidinput" ng-show="vm.requiredStreetFlag">Required Field<br></span>
				      	<span class="invalidinput" ng-show="vm.invalidStreetFlag">Text or Numeric Input Only<br></span>
				      
				        City
				        <!--Note: Selection of address components in this example is typical.
				             You may need to adjust it for the locations relevant to your app. See
				             https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform-->
				        <input class ="form-control" id="locality"
				              ng-model="vm.property.address.city" required>
				        <span class="invalidinput" ng-show="vm.requiredCityFlag">Required Field<br></span>
				        <span class="invalidinput" ng-show="vm.invalidCityFlag">Text Input Only<br></span>

				        State
				       <input class ="form-control"
				              id="administrative_area_level_1" ng-model="vm.property.address.state" required>
				        <span class="invalidinput" ng-show="vm.requiredStateFlag">Required Field<br></span>
				        <span class="invalidinput" ng-show="vm.invalidStateFlag">Text Input Only<br></span>
				        <span class="invalidinput" ng-show="vm.invalidStateInputFlag">Invalid State<br></span>

				       Zip code
				        <input type = "text" class ="form-control" id="postal_code"
				              ng-model="vm.property.address.zipcode">
				        <span class="invalidinput" ng-show="vm.requiredZipFlag">Required Field<br></span>
				        <span class="invalidinput" ng-show="vm.invalidZipFlag">Invalid Zip code<br></span>

				     Country
				        <input class ="form-control"
				              id="country" ng-model="vm.property.address.country" required>
				        <span class="invalidinput" ng-show="vm.requiredCountryFlag">Required Field<br></span>
				        <span class="invalidinput" ng-show="vm.invalidCountryFlag">Text Input Only<br></span>

				    	<div class="Quantity" ng-show="vm.showPricingCatalog">
				    	<label for="propertyQuantity"> Quantity</label>
				    	<input type="Number" class="form-control" id="propertyQuantity" ng-model="vm.property.qty" required>
				    	<span class="invalidinput" ng-show="vm.invalidQuantityFlag">Quantity must be greater than 0<br></span>
				    	</div>

				    	<label for="propertyBasePrice"> Base Price </label>
				    	<span ng-show="vm.showBaseNote"> This will be the starting price for Bids. It is for combined duration.</span>
				    	<input type="number" class="form-control" ng-model="vm.property.base_price" required>
				    	<span class="invalidinput" ng-show="vm.requiredBaseFlag">Required Field</span>
				    	<span class="invalidinput" ng-show="vm.invalidBaseFlag">Base price must be greated than zero</span>

				    	<div class="pricing catalog" ng-show="vm.showPricingCatalog">

				    	<h3> Pricing Catalog </h3>

				    	<h4> Surges (Enter between 1.0 and 3.0) </h4>

				    	<label for="Weekend_Surge_Rate"> Weekend Surge Rate</label>
				    	<input type="number" class="form-control" id="Weekend_Surge_Rate" ng-model="vm.property.princing_catalog.weekend_surge" required>
				    	<span class="invalidinput" ng-show="vm.requiredWSurgeFlag">Required Field</span>
				    	<span class="invalidinput" ng-show="vm.invalidWSurgeFlag">Must be between 1 to 3</span>

				    	<label for="Holiday_Surge_Rate"> Holiday Surge Rate (November and December)</label>
				    	<input type="number" class="form-control" id="Holiday_Surge_Rate" ng-model="vm.property.princing_catalog.seasonal_surge" required>
				    	<span class="invalidinput" ng-show="vm.requiredHSurgeFlag">Required Field</span>
				    	<span class="invalidinput" ng-show="vm.invalidHSurgeFlag">Must be between 1 to 3</span>

				    	<h4> Discounts (Enter between 0 and 100)</h4>
				    	<label for="Weekly_Discount_Rate"> Weekly Booking Discount </label>
				    	<input type="number" class="form-control" id="Weekly_Discount_Rate" ng-model="vm.property.princing_catalog.weekly_discount" required>
				    	<span class="invalidinput" ng-show="vm.requiredWeeklyDisc">Required Field</span>
				    	<span class="invalidinput" ng-show="vm.invalidWDiscountFlag">Discount must be between 0% and 100%</span>
				    	

				    	<label for="Monthly_Discount_Rate"> Monthly Discount Rate </label>
				    	<input type="number" class="form-control" id="Monthly_Discount_Rate" ng-model="vm.property.princing_catalog.monthly_discount" required>
				    	<span class="invalidinput" ng-show="vm.requiredMonthlyDisc">Required Field</span>
				    	<span class="invalidinput" ng-show="vm.invalidMDiscountFlag">Discount must be between 0% and 100%</span>

				    	</div>

				</form>

    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    		<h3> Media</h3>

    		<label for="PropertyImage Upload">
    		<h4> Upload Property Images </h4></label>

    		<button type="button" class="btn btn-primary" ng-click="vm.uploadPhotos()"> Upload Photos </button>

    		<h4> Upload Property Videos </h4>
    		<button type="button" class="btn btn-primary" ng-click="vm.uploadVideos()"> Upload Videos </button>
      	</div>

    	</div>
    	<br>
    	<br>
    	<div class="row">
    	<div class="col-md-6">
    	<button type="submit" class="btn btn-primary" ng-click="vm.UploadProperty()"> List Property</button>
    	</div>
    	</div>
    	</div>


			