<br>
<br>
<br>
<br>
<br>
	<div class="receipt-wrapper">
		<div class="container">
			<div class="customer-reciept-wrapper">
				<div class="receipt-header clearfix">
					<div class="pull-left">
						<h2 class="receipt-title no-margin">Customer Receipt</h2>
						<p>Billing Date: {{billdate}}</p>
						<p>Bill ID: {{billid}}</p>
					</div>
					<div class="pull-right primary-details">
						<p>AIRBNB</p>
						<p>+1(415)800-5959</p>
						<p>WWW.AIRBNB.COM/CONTACT</p>
					</div>
				</div>
				<div class="receipt-content">
					<div class="summary width-100">
						<div class="make-table width-100">
							<div class="table-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/person.png">
								<h3>{{user}}</h3>
								<span>User</span>
							</div>
							
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/accomodation.png">
								<h3>{{property}}</h3>
								<span>ACCOMODATION Property</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/accomodation.png">
								<h3>{{address}}</h3>
								<span>ACCOMODATION ADDRESS</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/acc-type.png">
								<h3>{{type}}</h3>
								<span>ACCOMODATION TYPE</span>
							</div>
							
						</div>
						
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/checkedin.png">
								<h3>{{start}}</h3>
								<span>CHECK IN</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/checkout.png">
								<h3>{{end}}</h3>
								<span>CHECK OUT</span>
							</div>
						</div>
						<!-- <div class="make-table width-100">
							<div class="table-column col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<img class="column-icon" src="public/images/receipt-images/nights.png">
								<h3>{{vm.days}}</h3>
								<span>NIGHTS </span>
							</div>
						</div> -->
					</div>
					<div class="payment-details width-100">
						<h2 class="title">Payment Details</h2>
						
					<div class="payment-details width-100">
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">Booking Amount</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">{{amount}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="receipt-footer width-100 text-center">
					<img src="public/images/barcode.png">
					<p class="text-center">THANKS FOR TRAVELLING WITH AIRBNB</p>
					<h5 class="footer-address">99 RHODE ISLAND ST., SAN FRANCISCO, CA, 94103, UNITED STATES</h5>
				</div>
				<div class="receipt-edgeimage"></div>
			</div>
		</div>
	</div>	
<br>